@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 3;
    color: #fff;
    font-size: 2rem;
}

nav .nav-items {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .hamburger .line {
    width: 100%;
    height: 5px;
    background-color: #fff;
}
nav .hamburger {
    display: none;
}
nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
nav ul li {
    cursor: pointer;
    font-size: 1.2rem;
}

nav ul li:hover {
    color: #333;
}

.slider-container {
    width: 100%;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #fff;
}

.info h1 {
    font-size: 4rem;
}

.slider-controls {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 2;
}

.slider-controls .control{
    padding: 1rem;
    color: rgba(51, 51, 51, 0.5);
    font-size: 2rem;
    transition: all 0.5s;
    cursor: pointer;
}


.slider-controls .control:hover {
    color: rgba(51, 51, 51, 1);
}

.circles {
    width: 100px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.circles .circle {
    width: 1rem;
    height: 1rem;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 1s;
}

.circle.active {
    background-color: #fff;
}

.slider-items {
    position: relative;
    height: 100vh;
}
.slider-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: all 0.7s;
}

.active {
    opacity: 1;
}

.slider-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 840px) {
    nav .hamburger {
        position: absolute;
        right: 0;
        transform: translateX(-100%);
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    nav .hamburger .line {
        transition: all 0.5s ease-in-out;
    }
    nav .hamburger.menu-open .line {
        background-color: #333;
    }
    nav .hamburger.menu-open .line:first-child {
        transform: rotate(45deg) translate(10px, 10px);
    }
    nav .hamburger.menu-open .line:nth-child(2) {
        display: none;
        transform: translateX(-100%);
    }
    nav .hamburger.menu-open .line:last-child {
        transform: rotate(-45deg) translate(8px, -8px);
    }
    nav ul {
        position: absolute;
        top: 0;
        right: -100%;
        width: 50%;
        padding-top: 30px;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        color: #333;
        transition: all 0.5s;
    }
    nav ul li {
        padding: 20px 0;
    }
    nav ul.menu-open {
        right: 0;
    }
    nav ul.menu-open .mobile {
        color: #333;
    }
}